<div id="dla_kachelviewer_error">Objekt wurde nicht gefunden!</div>
<div  id="dla_kachelviewer_input">
  <input id="dla_kachelviewer_input_text" type="text" maxlength="11" size="11">
  <input id="dla_kachelviewer_input_submit" type="button" value="Anzeigen">
</div>
<div id="dla_kachelviewer_viewport">
  <div id="dla_kachelviewer_toolbar">
    <span id="dla_kachelviewer_seitenanzeige">
      Seite&nbsp;
      <input id="dla_kachelviewer_seite" type="text" value="1" maxlength="4" size="4">
      &nbsp;von&nbsp;
      <span id="dla_kachelviewer_seiten"></span>
    </span>
  </div>
  <div id="dla_kachelviewer_content"></div>
  <div id="dla_kachelviewer_metadaten"></div>
</div>
<script src="{f:uri.resource(path: 'openseadragon/openseadragon.min.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/dla_kachelviewer.js')}"></script>